header {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    position: fixed; /* Posicionamiento relativo */
    top: 0; /* Pegado abajo */
    left: 0; /* Pegado a la izquierda */
}

.sidebar {
    background-color: lightgray; /* Color de fondo para la barra lateral */
    width: 20%; /* Ocupa el 20% de la pantalla */
    height: calc(100vh - 100px); /* Altura total menos la del header y footer */
    position: fixed; /* Posicionamiento relativo */
    bottom: 0; /* Pegado abajo */
    left: 0; /* Pegado a la izquierda */
}

.contenido {
    margin-left: 220px; /* Deja espacio para el navigation */
    padding: 1em;
}

.contenido h2 {
    color: #333;
    margin-bottom: 0.5em;
}

.contenido p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

footer{
    width: 100%; /* Ocupa todo el ancho */
    background-color: green; /* Fondo verde */
    position: fixed; /* Fijo en pantalla */
    bottom: 0; /* Pegado abajo */
    left: 0; /* Pegado a la izquierda */
    text-align: center; /* Texto centrado */ 
    text-align: center; /* Texto centrado */
}